*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(4, 40, 40);
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
  
}
.firstnav{
    text-align: center;
}
.fistnav h1{
    margin-bottom: 0;
    padding-bottom: 0;
}
.fistnav p{
    margin-top: 0;
   
}
.nav .secondnav{
    display: flex;

}
.nav .secondnav li{
    list-style: none; 
}
.nav .secondnav a{
    text-decoration: none;
    color: white;
}
.nav .secondnav a:hover{
    cursor: pointer;
    /* background-color: blueviolet; */
    border-bottom: 3px red solid;
}
.body{
    margin: 10px 100px;
    border-right: 2px solid rgb(4, 40, 40);
    border-top-right-radius: 30px;
    border-left: 2px solid rgb(4, 40, 40);
    border-bottom-left-radius: 30px;
    padding: 10px;
    background-color: rgb(235, 229, 222);
}
@media screen and (max-width: 700px) {
    .body{
        margin: 10px;
        /* background-color: rgb(196, 239, 239); */
    }
    
}
.body h1{
    text-align: center;
    color: rgb(13, 77, 173);
    font-weight: 700;
    
}
.body h1:hover{
    cursor: pointer;
    color: rgb(0, 102, 254);
}
.boddy{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
.boddy .body2{
    width: 40%;
    margin-left: 10px;
    margin-right: 15px;
    padding-left: 20px;
    padding-top: 10px;
    border-top: 5px solid rgb(0, 102, 254);
    border-left: 2px solid rgb(0, 102, 254);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;

    
}
@media screen and (max-width: 700px) {
    .boddy {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
       
    } 
}
.boddy .body2 li{
    list-style-type: none;
}
@media screen and (max-width: 700px) {
    .boddy .body2{
       width: 100%;
       margin: 15px;
    }
}
.footer{
    background-color: rgb(4, 40, 40);
    color: white;
    bottom: 0;
   bottom: 0;
   width: 100%;
  margin-bottom: 0;
   padding: 15px;
}
.footer ul  li {
    list-style: none;
    align-items: center;
    text-align: center;
    color: aqua;
    
}
.footer ul  li a{
    text-decoration: none;
    color: aqua;
}
.footer ul  li:hover {
    cursor: pointer;
    color: lightblue;
}
.footer ul  a:hover {
    cursor: pointer;
    color: lightblue;
}
.footer .copy{
    text-align: center;
}